body {
  padding-top: 75px;
  font-size: 13px;
}

.container {
  max-width: 970px;
}

.glyphicon {
  font-size: 11px;
}

.alert {
  padding: 5px 10px;
  margin: 0px 0px 20px 0px;
}

.clickSignUp a {
  cursor: pointer;
}
