body {
  padding-top: 75px;
  font-size: 13px;
  color: #666666;
}

.fixedOverlay {
  position: fixed;
  top: 0px;
  padding-top: 75px;
  width: 100%;
}

.container {
  max-width: 970px;
}

.container.notResponsive {
  max-width: none !important;
  width: 970px;
}

.alert {
  padding: 5px 10px;
  margin: 0px 0px 20px 0px;
}

.promptSignUp a {
  cursor: pointer;
}
