body {
  padding-top: 50px;
}

#alerts {
  margin-top: 25px;
}

#recruitForm {
  font-family: "Crimson Text", serif;
  padding: 25px 20px 40px 20px;
  background-color: #ffffff;
}

#recruitForm .title {
  font-size: 36px;
  text-align: right;
  margin-bottom: 20px;
}

#recruitForm p {
  font-size: 20px;
  margin: 0px 0px 30px 0px;
}

#recruitForm .closing {
  text-align: right;
  margin-bottom: 35px;
}

#recruitForm input.input-lg {
  height: 45px;
}

#recruitForm .btn-lg .glyphicon {
  font-size: 14px;
  margin-right: 10px;
}
