#sidebar {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#recruit {
  margin-top: 20px;
  margin-bottom: 10px;
}

#recruit .btn-schola {
  font-weight: bold;
}

#recruit .glyphicon {
  margin-right: 10px;
}
