body {
  padding-top: 70px;
  font-size: 13px;
}

.container {
  max-width: 970px;
}

.container.nonResponsive {
  max-width: none !important;
  width: 970px;
}

.requestForm {
  overflow: hidden;
  margin-bottom: 20px;
}

.requestForm .requestFormName {
  min-width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.requestForm .requestFormSubmit {
  float: right;
}

.requestStream {
  height: 400px;
  overflow: auto;
}

.request {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
}

.requestSide {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.requestSide .requestStatus {
  text-align: center;
  margin-bottom: 10px;
}

.requestMain {
  width: 85%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.requestMain .requestTitle {
  color: #666666;
}

.requestMain .requestTitle .requestUsername {
  font-weight: bold;
}

.requestMain .requestDate {
  margin-bottom: 5px;
  color: #999999;
}

.postForm {
  width: 60%;
  margin-left: 40%;
  margin-bottom: 20px;
  overflow: hidden;
}

.postForm .postFormName {
  min-width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.postForm .postFormDescription {
  min-width: 100%;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.postForm .postFormSubmit {
  float: right;
}

.post {
  margin-bottom: 20px;
}

.postSide {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  text-align: right;
}

.postSide .postTitle {
  color: #666666;
}

.postSide .postTitle .postUsername {
  font-weight: bold;
}

.postSide .postDate {
  margin-bottom: 10px;
  color: #999999;
}

.postSide .postViews {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 1px 5px 1px 5px;
  cursor: default;
}

.postMain {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
}

.postMain .postName {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  max-width: 90%;
}

.postMain .postIcon {
  float: right;
}

.postMain .postAccess {
  text-align: right;
}

.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
  background-color: #3c95d2;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  background-color: #2e89c7;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}

.navbar-form {
  padding-left: 5px;
  border: none;
}

.navbar-form > * {
  margin-left: 10px;
}

.btn-schola {
  color: #ffffff;
  background-color: #3c95d2;
  border-color: #2e89c7;
  font-weight: bold;
  min-width: 70px;
}

.btn-schola:hover,
.btn-schola:focus,
.btn-schola:active,
.btn-schola.active,
.open .dropdown-toggle.btn-schola {
  color: #ffffff;
  background-color: #2e89c7;
  border-color: #297ab2;
}

.btn-schola:active,
.btn-schola.active,
.open .dropdown-toggle.btn-schola {
  background-image: none;
}

.btn-schola.disabled,
.btn-schola[disabled],
fieldset[disabled] .btn-schola,
.btn-schola.disabled:hover,
.btn-schola[disabled]:hover,
fieldset[disabled] .btn-schola:hover,
.btn-schola.disabled:focus,
.btn-schola[disabled]:focus,
fieldset[disabled] .btn-schola:focus,
.btn-schola.disabled:active,
.btn-schola[disabled]:active,
fieldset[disabled] .btn-schola:active,
.btn-schola.disabled.active,
.btn-schola[disabled].active,
fieldset[disabled] .btn-schola.active {
  background-color: #3c95d2;
  border-color: #2e89c7;
}

.btn-schola .caret {
  border-top-color: #fff;
}