body {
  padding-top: 75px;
  font-size: 13px;
}

.container {
  max-width: 970px;
}

.request {
  margin-bottom: 20px;
}

.requestSide {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  text-align: right;
}

.requestSide .requestTitle {
  color: #666666;
}

.requestSide .requestTitle .requestUsername {
  font-weight: bold;
}

.requestSide .requestDate {
  margin-bottom: 10px;
  color: #999999;
}

.requestSide .requestViewsContainer {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 1px 5px 1px 5px;
  cursor: default;
}

.requestMain {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 2px solid #eeeeee;
}

.requestMain .requestName {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  max-width: 90%;
}

.requestMain .requestIcon,
.requestMain .requestGet {
  float: right;
}

#requestStreamLoading {
  text-align: center;
  padding-bottom: 20px;
  margin-left: 40%;
  display: none;
}

.alert {
  padding: 5px 10px;
  margin: 0px 0px 20px 0px;
}

a.promptSignUp {
  cursor: pointer;
}

.navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
  background-color: #3c95d2;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  max-height: 50px;
}

.navbar-default .navbar-header .navbar-brand img {
  margin-top: -5px;
  margin-right: 5px;
  height: 25px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  background-color: #2e89c7;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}

.navbar-form {
  padding-left: 10px;
  border: none;
}

.navbar-form > * {
  margin-left: 5px;
}

.btn-schola {
  color: #ffffff;
  background-color: #3c95d2;
  border-color: #2e89c7;
  font-weight: bold;
  min-width: 70px;
}

.btn-schola:hover,
.btn-schola:focus,
.btn-schola:active,
.btn-schola.active,
.open .dropdown-toggle.btn-schola {
  color: #ffffff;
  background-color: #2e89c7;
  border-color: #297ab2;
}

.btn-schola:active,
.btn-schola.active,
.open .dropdown-toggle.btn-schola {
  background-image: none;
}

.btn-schola.disabled,
.btn-schola[disabled],
fieldset[disabled] .btn-schola,
.btn-schola.disabled:hover,
.btn-schola[disabled]:hover,
fieldset[disabled] .btn-schola:hover,
.btn-schola.disabled:focus,
.btn-schola[disabled]:focus,
fieldset[disabled] .btn-schola:focus,
.btn-schola.disabled:active,
.btn-schola[disabled]:active,
fieldset[disabled] .btn-schola:active,
.btn-schola.disabled.active,
.btn-schola[disabled].active,
fieldset[disabled] .btn-schola.active {
  background-color: #3c95d2;
  border-color: #2e89c7;
}

.btn-schola .caret {
  border-top-color: #ffffff;
}
