#trending {
  /*font-weight: bold;*/
  margin-bottom: 20px;
}

#trending .trendingTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#trending .trendingPublisher {
  margin-bottom: 10px;
}

#trending .trendingPublisherName {
  font-weight: bold;
}

#trending .trendingPublisher .glyphicon {
  margin-right: 10px;
}

#trending .trendingPublisher .badge {
  float: right;
  cursor: default;
}
