#trending {
  font-weight: bold;
  margin-bottom: 10px;
}

.trendingTitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.trendingPublisher {
  margin-bottom: 10px;
}

.trendingPublisher .glyphicon {
  margin-right: 10px;
}
