#userInfo {
  margin-bottom: 20px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
}

#userInfo .userName {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#userInfo .userName .userNameText {
  padding-right: 28px;
}

#userInfo .userName .glyphicon {
  font-size: 18px;
  margin-top: 4px;
  float: right;
}
