doctype 5
html

  head
    title Schola
    include headerFiles.jade
    link(rel="stylesheet", href="/stylesheets/errorPage.css")
    
  body
    include navbar.jade
    div.container.notResponsive
      div.row
        div.col-xs-12
          div.title Uh oh.
          p Looks like this page doesn't exist.

    script
      var app = app || {};
      app.viewerData = {
        isLoggedIn: !{isLoggedIn},
        isSatisfier: !{isSatisfier}
      };

    include footerFiles.jade
    script
      new app.NavbarView();
