script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
script(type="text/javascript", src="/libraries/jquery-1.11.0.min.js")
script(type="text/javascript", src="/libraries/underscore-min.js")
script(type="text/javascript", src="/libraries/backbone-min.js")
script(type="text/javascript", src="/libraries/bootstrap/js/bootstrap.min.js")
script(type="text/javascript", src="/libraries/sha1.js")
script(type="text/javascript", src="/javascripts/socket.js")

script(type="text/javascript", src="/javascripts/utilities/constants.js")
script(type="text/javascript", src="/javascripts/utilities/cookies.js")
script(type="text/javascript", src="/javascripts/utilities/crypto.js")
script(type="text/javascript", src="/javascripts/utilities/dateTime.js")
script(type="text/javascript", src="/javascripts/utilities/alerter.js")

script(type="text/javascript", src="/javascripts/models/user.js")
script(type="text/javascript", src="/javascripts/models/request.js")

script(type="text/javascript", src="/javascripts/views/bodyView.js")
script(type="text/javascript", src="/javascripts/views/logInFormView.js")
script(type="text/javascript", src="/javascripts/views/signUpFormView.js")
script(type="text/javascript", src="/javascripts/views/logOutView.js")
script(type="text/javascript", src="/javascripts/views/navbarView.js")
script(type="text/javascript", src="/javascripts/views/trendingUsersView.js")
script(type="text/javascript", src="/javascripts/views/userInfoView.js")
script(type="text/javascript", src="/javascripts/views/sidebarView.js")
script(type="text/javascript", src="/javascripts/views/requestView.js")
script(type="text/javascript", src="/javascripts/views/requestStreamView.js")
script(type="text/javascript", src="/javascripts/views/requestResponseFormView.js")
script(type="text/javascript", src="/javascripts/views/requestFormView.js")

script(type="text/javascript", src="/javascripts/app.js")
