doctype 5
html

  head
    title Schola
    include headerFiles.jade
    link(rel="stylesheet", href="/stylesheets/trending.css")
    link(rel="stylesheet", href="/stylesheets/recruit.css")
    
  body
    include navbar.jade

    div.fixedOverlay
      div.container.notResponsive
        div.row
          div.col-xs-9
          div#sidebarFixed.col-xs-3

    div.container.notResponsive
      div.row
        div.col-xs-9
          div#requestStream
            div#requests
            div#requestStreamLoading
              img(src="/images/loading.gif")
        div#sidebarRelative.col-xs-3
          div#sidebar
            div#alerts
            div#trending
              div.trendingTitle Trending Publishers
              div#trendingPublishers
          unless isPublisher
            div#recruit
              a.btn.btn-schola.btn-block.btn-sm(href="/recruit")
                span.glyphicon.glyphicon-send
                | Schola Publisher Network

    script.
      var app = app || {};
      app.viewerData = {
        isLoggedIn: !{isLoggedIn},
        isPublisher: !{isPublisher}
      };

    include footerFiles.jade
    script(type="text/javascript", src="/javascripts/app.js")
