doctype 5
html

  head
    title Schola
    include headerFiles.jade
    link(rel="stylesheet", href="/stylesheets/trendingUsers.css")
    
  body
    include navbar.jade

    div.fixedOverlay
      div.container.notResponsive
        div.row
          div.col-xs-9
          div.col-xs-3#sidebarFixed

    div.container.notResponsive
      div.row
        div.col-xs-9
          div#requestStream
            div#requests
            div#requestStreamLoading
              img(src="/images/loading.gif")
        div.col-xs-3#sidebarRelative
          div#sidebar
            div#alerts
            div#trendingUsers

    include footerFiles.jade
