doctype 5
html

  head
    title Schola
    include headerFiles.jade
    
  body
    include navbar.jade

    //- Deal with responsive sidebar later, in bodyView.js
    //- Use fixedOverlay

    div.container.notResponsive
      div.row
        div.col-xs-9
          div#requestStream
            div#requests
            div#requestStreamLoading
              img(src="/images/loading.gif")
        div#sidebar.col-xs-3
          div#alerts

    include footerFiles.jade
