doctype 5
html

  head
    title Schola
    include headerFiles.jade
    
  body
    include navbar.jade

    div.container.nonResponsive
      div.row
        div.col-xs-12
          div#requestStream
            div#requests
            div#requestStreamLoading
              img(src="/images/loading.gif")

    include footerFiles.jade
