doctype 5
html

  head

    title Schola
    include headerFiles.jade

  body

    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          a.navbar-brand(href='') Schola
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.collapse.navbar-collapse
          //- if isLoggedIn
          form#logInForm.navbar-form.navbar-right(role='search')
            div.form-group
              input.form-control(type='text', name='username', placeholder='Username')
            div.form-group
              input.form-control(type='password', name='password', placeholder='Password')
            button.btn.btn-schola.btn-sm(type='submit') Log In
            button#signUpFormSubmit.btn.btn-schola.btn-sm(type='button') Sign Up
          //- else
          div.nav.navbar-nav.navbar-right.hidden
            li
              a(href='#') Logout 
                span.glyphicon.glyphicon-chevron-right

    div.container.nonResponsive
      div.row

        div.col-xs-9

          if status
            form#postForm
              div.postFormSide
                p
                  strong Add Post
                input.postFormName.form-control(name='name', type='text', placeholder='Post name')
                input.postFormURL.form-control(name='URL', type='text', placeholder='Post URL')
              div.postFormMain
                textarea.postFormDescription.form-control(name='desc', rows='3', placeholder='Post description')
                button.postFormSubmit.btn.btn-schola.btn-xs(type='submit') Post

          div#postStream
            div.post
              div.postSide
                div.postTitle
                  span.postUsername rzhou 
                  | added a post.
                div.postDate 22 Apr
                div.postViews(data-toggle='tooltip', title='42 views') 42 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Ray Zhou's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername gshubham 
                  | added a post.
                div.postDate 20 Apr
                div.postViews(data-toggle='tooltip', title='20 views') 20 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Shubham Goel's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername gshubham 
                  | added a post.
                div.postDate 18 Apr
                div.postViews(data-toggle='tooltip', title='10 views') 10 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Brian Do's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername rzhou 
                  | added a post.
                div.postDate 16 Apr
                div.postViews(data-toggle='tooltip', title='24 views') 24 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Amanda Chow's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View

            div.postStreamLoading.hidden
              img(src='/images/loading.gif')

        div.col-xs-3

          form#requestForm
            p
              strong Add Request
            input.requestFormName.form-control(type='text', name='', maxlength='100', placeholder='Add anonymous request...')
            button.requestFormSubmit.btn.btn-schola.btn-xs(type='submit') Request

          div#requestStream
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 16 Apr
                div.requestName
                  | Ian Zhou's Stanford college essays
              div.requestSide
                div.requestStatus
                  span.glyphicon.glyphicon-unchecked
                button.btn.btn-default.btn-xs.btn-block
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 24
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 22 Apr
                div.requestName
                  a(href='#') Roger Chen's Stanford college essays
              div.requestSide
                div.requestStatus
                  span.glyphicon.glyphicon-ok
                button.btn.btn-default.btn-xs.btn-block.disabled
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 28
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 25 Apr
                div.requestName
                  a(href='#') Edward Wang's Stanford college essays
              div.requestSide
                div.requestStatus
                  span.glyphicon.glyphicon-ok
                button.btn.btn-default.btn-xs.btn-block.disabled
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 28

            div.requestStreamLoading.hidden
              img(src='/images/loading.gif')

    include footerFiles.jade
