doctype 5
html

  head

    title Schola

    // CSS
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700')
    link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      div.container
        div.navbar-header
          a.navbar-brand(href='') Schola
          button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.collapse.navbar-collapse
          

    div.container.nonresponsive
      div.row

        div.col-xs-9

          form.postForm
            p
              strong Add Post
            

          div.postStream
            div.post
              div.postSide
                div.postTitle
                  span.postUsername rzhou 
                  | added a post.
                div.postDate 22 Apr
                div.postViews(data-toggle='tooltip', title='42 views') 42 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Ray Zhou's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername gshubham 
                  | added a post.
                div.postDate 20 Apr
                div.postViews(data-toggle='tooltip', title='20 views') 20 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Shubham Goel's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername bdo 
                  | added a post.
                div.postDate 18 Apr
                div.postViews(data-toggle='tooltip', title='10 views') 10 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Brian Do's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View
            div.post
              div.postSide
                div.postTitle
                  span.postUsername achow 
                  | added a post.
                div.postDate 16 Apr
                div.postViews(data-toggle='tooltip', title='24 views') 24 
                  span.glyphicon.glyphicon-eye-open
              div.postMain
                div.postIcon
                  span.glyphicon.glyphicon-link
                div.postName
                  a(href='#') Amanda Chow's Stanford Essays
                div.postDescription
                  p My Stanford college essays from the 2011-2012 application cycle. Includes my responses to the 3 supplemental questions asked by Stanford 2 years ago.
                div.postAccess
                  button.postGet.btn.btn-schola.btn-xs View

        div.col-xs-3

          form.requestForm
            p
              strong Add Request
            input.requestBox.form-control(type='text', maxlength='100')
            button.requestAdd.btn.btn-schola.btn-xs(type='submit') Submit

          div.requestStream
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 16 Apr
                div.requestName
                  | Ian Zhou's Stanford college essays
              div.requestSide
                div.requestStatus(data-toggle='tooltip', title='Unresolved')
                  span.glyphicon.glyphicon-unchecked
                button.btn.btn-default.btn-xs.btn-block
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 24
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 22 Apr
                div.requestName
                  a(href='#') Roger Chen's Stanford college essays
              div.requestSide
                div.requestStatus(data-toggle='tooltip', title='Resolved')
                  span.glyphicon.glyphicon-ok
                button.btn.btn-default.btn-xs.btn-block
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 28
            div.request
              div.requestMain
                div.requestTitle
                  span.requestUsername anonymous 
                  | requested:
                div.requestDate 25 Apr
                div.requestName
                  a(href='#') Edward Wang's Stanford college essays
              div.requestSide
                div.requestStatus(data-toggle='tooltip', title='Resolved')
                  span.glyphicon.glyphicon-ok
                button.btn.btn-default.btn-xs.btn-block
                  span.glyphicon.glyphicon-chevron-up
                  div.requestUpvotes 28

    // JS
    script(type='text/javascript', src='/libraries/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/libraries/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript').
      $('.postViews').tooltip({ placement: 'left' });
      $('.requestStatus').tooltip({ placement: 'right' });