doctype 5
html

  head
    title Schola
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    include headerFiles.jade
    link(rel="stylesheet", href="/stylesheets/userInfo.css")
    link(rel="stylesheet", href="/stylesheets/requestForm.css")
    
  body
    include navbar.jade

    div.container
      div.row
        div.col-md-3.col-md-push-9
          div#sidebar
            div#alerts
            div#userInfo
              div.userName
              div.userDescription
            form#requestForm
              div.requestFormTitle Add Request
              input.requestFormName.form-control(type="text", name="name", placeholder="New anonymous request")
              button#requestFormSubmit.btn.btn-schola.btn-xs(type="submit") Submit
        div.col-md-9.col-md-pull-3
          div#requestStream
            if isLoggedIn
              div#requestStreamFilter
                div#tabAnswered.tab Answered
                div#tabUnanswered.tab.tabSelected Unanswered
            else
              div#requestStreamFilter
                div#tabAnswered.tab.tabSelected Answered
                div#tabUnanswered.tab Unanswered
            div#requests
            div.row
              div#requestStreamLoading
                img(src="/images/loading.gif")

    script.
      var app = app || {};
      app.viewerData = {
        isLoggedIn: !{isLoggedIn},
        isPublisher: !{isPublisher}
      };
      app.pageData = !{data};

    include footerFiles.jade
    script(type="text/javascript", src="/javascripts/userPageApp.js")
