doctype 5
html

  head
    title Schola
    include headerFiles.jade
    link(rel="stylesheet", href="/stylesheets/userInfo.css")
    link(rel="stylesheet", href="/stylesheets/requestForm.css")
    
  body
    include navbar.jade

    div.fixedOverlay
      div.container.notResponsive
        div.row
          div.col-xs-9
          div#sidebarFixed.col-xs-3

    div.container.notResponsive
      div.row
        div.col-xs-9
          div#requestStream
            div#requests
            div#requestStreamLoading
              img(src="/images/loading.gif")
        div#sidebarRelative.col-xs-3
          div#sidebar
            div#alerts
            div#userInfo
              div.userUsername
                span.glyphicon.glyphicon-user
              div.userDescription
            form#requestForm
              div.requestFormTitle Add Request
              input.requestFormName.form-control(type="text", name="name", placeholder="Add anonymous request")
              button#requestFormSubmit.btn.btn-schola.btn-xs(type="submit") Request

    script
      var app = app || {};
      app.viewerData = {
        isLoggedIn: !{isLoggedIn},
        isSatisfier: !{isSatisfier}
      };
      app.pageData = !{data};

    include footerFiles.jade
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript", src="/javascripts/userApp.js")
